body {
  background-color: #000;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-child {

}

/* Search box */
div#search-box {
  text-align: center;
}

form.search-container {
  display: inline-flex;
  max-width: 160px;
  margin: 15px auto;
  background-color: #303030;
  border: 2px solid #FFF;
  border-radius: 20px;
  padding: 5px;
  color: #FFF;
  font-size: 1.5em;
  position: relative;
}

input#facId {
  width: 60%;
  background-color: #303030;
  border: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  left: 8px;
  font-size: 18px;
  text-align: center;
}

#facId::placeholder {
  text-transform: none;
  font-size: 11px;
}

/* Link Menu */
#page-links {
  margin-top: 1em;
}

#page-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#page-links ul li {
  font-family: 'garamound';
  font-size: 1.8em;
  text-align: center;
  line-height: 2;
  position: relative;
}

#page-links ul li a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

#page-links ul li a:hover {
  text-shadow: 0px 0px 2px #14518a;
  background-color: rgba(0, 0, 70, 0.3);
}

#page-links ul li svg {
  font-size: inherit;
  position: relative;
  top: 4px;
}
/* Main page layout: 2 columns */
.index-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "NavColumn DisplayColumn";
  height: 100vh;
}

.index-NavColumn { 
  grid-area: 1 / 1 / 2 / 2;; 
  background-color: slategray;
}

.index-DisplayColumn { 
  grid-area: 1 / 2 / 2 / 5; 
  background-color: steelblue;
}