body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

/* Main page layout: 5 columns 4 rows */
.index-grid-container {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr) 40px; */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  
}

.index-NavColumn { 
  grid-area: 1 / 1 / 4 / 2;; 
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.index-DisplayColumn { 
  grid-area: 1 / 2 / 4 / 6; 
  background-color: #0e0e0e;
}

.index-Footer {
  grid-area : 4 / 1 / 5 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.index-Footer a, .index-Footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* Front page content */
#front-page {
  margin-top: 50px;
  text-align: center;
}

/* Facility Details */
.grid-container {
  display: grid;
}
.fac-page-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2.5em repeat(4, 1fr);
}

#facility-info header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 2em;
}

#facility-info header h1 {margin: 0;}

#facility-info main {
  grid-area: 2 / 1 / 6 / 3;
  
}
.payscale-grid {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Search box */
form.search-container {
  display: inline-flex;
  max-width: 160px;
  margin: 15px auto;
  background-color: #303030;
  border: 2px solid #FFF;
  border-radius: 20px;
  padding: 5px;
  color: #FFF;
  font-size: 1.5em;
  position: relative;
}

input#facId {
  width: 60%;
  background-color: #303030;
  border: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  left: 8px;
  font-size: 18px;
  text-align: center;
}

#facId::placeholder {
  text-transform: none;
  font-size: 11px;
}

/* Link Menu */
#page-links {
  margin-top: 1em;
  width: 100%;
}

#page-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#page-links ul li {
  font-family: 'garamound';
  font-size: 1.8em;
  text-align: center;
  line-height: 2;
  position: relative;
}

#page-links ul li a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

#page-links ul li svg {
  font-size: inherit;
  position: relative;
  top: 4px;
}

/* Error Message Modal */
#modal {
  background-color: rgba(0, 50, 90, 0.70);
  border: 2px solid #fff;
  border-radius: 5px;
  width: 25%;
  margin-left: -12.5%;
  padding: 10px;
  position: absolute;
  top: -200px;
  left: 50%;
  color: #fff;
  font-size: 1.3em;
  overflow: hidden;
}

#modal.fade-out {
  top: 20px;
  animation-name: fadeout;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0; top: -20px}
}

/* Media Queries */
/* Phones */
@media only screen and (min-width: 320px) {
  .index-grid-container {
    grid-template-rows: 68px repeat(2, 1fr) 40px;
  }

  .index-NavColumn { 
    grid-area: 1 / 1 / 2 / 6;; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #14518a;
  }
  
  .index-DisplayColumn { 
    grid-area: 2 / 1 / 4 / 6;
    padding: 0 3px;
  }
  
  .index-Footer {
    grid-area : 4 / 1 / 5 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
  }
  #page-links {
    margin-top: 0;
  }
  #page-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #page-link ul li {
    line-height: normal;
  }

  #page-links .hide-text {
    display: none;
  }

  #search-box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* Tablets */
@media only screen and (min-width: 601px) {
  #search-box {
    width: 50%;
  }

  #page-links .hide-text {
    display: inline;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  .index-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr) 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    
  }
  
  .index-NavColumn { 
    grid-area: 1 / 1 / 4 / 2;; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: none;
    border-right: 2px solid #14518a;
  }
  
  .index-DisplayColumn { 
    grid-area: 1 / 2 / 4 / 6; 
  }
  
  .index-Footer {
    grid-area : 4 / 1 / 5 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
  }
  
  .index-Footer a, .index-Footer a:hover {
    color: #fff;
    text-decoration: none;
  }
  #search-box {
    width: 100%;
  }

  #page-links ul {
    flex-direction: column;
  }

  #page-links ul li {
    width: 100%;
  }

  #page-links ul li:hover {
    text-shadow: 0px 0px 2px #14518a;
    background-color: rgba(0, 50, 90, 0.70);
  }
}